<form (ngSubmit)="editGuides()">

	<div class="form-group">

		<md-select 
			class="form-input" 
			placeholder="Zona" 
			[ngModel]="data.zonas_id" 
	 		(ngModelChange)="changeZone($event)"
			name="zone-name">

			<md-option 
				*ngFor="let zone of zones" 
				[value]="zone.id"> 
				{{ zone.name }}
			</md-option>

		</md-select>

		<md-select 
			class="form-input" 
			placeholder="Idioma" 
			[ngModel]="data.idiomas_id" 
	 		(ngModelChange)="changeIdioma($event)"
			name="idioma-name">

			<md-option 
				*ngFor="let idioma of idiomas" 
				[value]="idioma.id"> 
				{{ idioma.name }}
			</md-option>

		</md-select>

		<md-input-container 
			class="form-input ng-invalid" 
			[hideRequiredMarker]="true" >
			<input 
				[(ngModel)]="data.costo" 
				name="guide-costo" 
				type="number" 
				mdInput 
				placeholder="Costo" 
				required />
		</md-input-container>

	</div>
	<div class="btn-group">
		<button 
			md-raised-button
			id="btn-submit">
			Modificar Usuario
		</button>
		<button 
			md-raised-button 
	 		type="button"
	 		id="btn-cancel" 
			(click)="stopEdit()">
			Cancelar
		</button>
	</div>
</form>
