<app-panel>

	<div class="title">
		<a (click)="testZones()"> 
			Zonas 
		</a>
	</div>

	<div class="grid-container">

		<div class="opt-table">

			<md-input-container class="login-input ng-invalid">
				<input mdInput (keyup)="filterZones($event)" placeholder="Filtrar zonas" />
			</md-input-container>			

			<ngx-datatable
				#table
				class='material'
				[rows]='rows'
				[columns]="cols"
				[columnMode]="'force'"
				[headerHeight]="'flex'"
				[footerHeight]="'flex'"
				[limit]="10"
				[rowHeight]="'auto'"
				[selectionType]="'single'"
				[rowClass]="getClasses">
			</ngx-datatable>
		</div>	

		<app-zones-edit (zoneUploaded)="handleUpload($event)" class="edit-form"> </app-zones-edit>

	</div>

</app-panel>

