.title {
	margin: 30px 0px 0px 20px;
	height: 38px;
}

.title > a {
	font-size: 25pt;
	color: #7f7f7f;
	cursor: default;
	transition: color 0.7s;
}

.title > a:hover {
	color: #0f0f0f;
	cursor: default;
}

.filter-input {
	width: 50%;
}

.grid-container {
	height: calc(100% - (38px + 20px + 38px);
	margin: 10px 15px 38px 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

.opt-table {
	width: 48%;
}

.edit-form {
	width: 50%;
	height: 50%;
}

.full-width {
	width: 100%;
}

.full-width md-input-container {
	width: 100%;
}

.half-width {
	width: 50%;
}
