* { 
	box-sizing: border-box; 
}

body {
	background: #eee;
	-webkit-font-smoothing: antialiased;
}

form {
	width: 380px;
	margin: 4em auto;
	padding: 2em 2em 2em 2em;
	background: #fafafa;
	border: 1px solid #ebebeb;
	box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.login-input {
	width: 100%;
	margin-bottom: 5px;
}

.login-group {
	margin-bottom: 10px;
}

button {
	width: 100%;
}

/* Ripples animation */

@keyframes ripples {
	0% { opacity: 0; }
	25% { opacity: 1; }
	100% {
		width: 200%;
		padding-bottom: 200%;
		opacity: 0;
	}
}

footer { text-align: center; }
footer p {
	color: #888;
	font-size: 13px;
	letter-spacing: .4px;
}
footer a {
	color: #4a89dc;
	text-decoration: none;
	transition: all .2s ease;
}
footer a:hover {
	color: #666;
	text-decoration: underline;
}
footer img {
	width: 80px;
	transition: all .2s ease;
}
footer img:hover { opacity: .83; }
footer img:focus , footer a:focus { outline: none; }

