<form (ngSubmit)="editSpot()">

	<div class="form-group">

		<md-input-container 
			class="form-input ng-invalid" 
			[hideRequiredMarker]="true" >
			<input 
				mdInput 
				[(ngModel)]="data.name" 
				name="spot-name" 
				type="text" 
				placeholder="Nombre" 
				required />
		</md-input-container>

		<md-input-container 
			class="form-input ng-invalid" 
			[hideRequiredMarker]="true" >
			<input 
				mdInput 
				[(ngModel)]="data.description" 
				name="spot-description" 
				type="text" 
				placeholder="Descripcion" 
				required />
		</md-input-container>
			
		<md-select 
			class="form-select" 
			placeholder="Sub Zona" 
			[ngModel]="data.zone" 
	 		(ngModelChange)="changeZone($event)"
			name="sub-zone-name">

			<md-option 
				*ngFor="let zone of zones" 
				[value]="zone.id"> 
				{{ zone.nombre }}
			</md-option>

		</md-select>

		<md-select 
			class="form-select" 
			placeholder="Categoria" 
			[(ngModel)]="data.category" 
			name="spot-category">

			<!-- Esto no deberia hacer asi... -->
			<md-option [value]="1"> Museo </md-option>
			<md-option [value]="2"> Galeria </md-option>

		</md-select>

		<!-- Muy poco flexible :/
		<agm-map customMap 
			[drawing]="drawOpts" 
			[latitude]="lat" 
			[longitude]="lng" 
			[streetViewControl]="false"> 
		</agm-map>
		-->

		<app-map #map 
			mode="marker"
			[marker]="childMarker" 
			[fixedPolygon]="parentPolygon"
			(markerComplete)="setMarker($event)">
		</app-map>
			
		<!-- File upload -->


		<div class="upload-container">

			<md-progress-bar 
			 	*ngIf="uploadingAudio"
				mode="indeterminate">
			</md-progress-bar>

			<label for="audio-upload">
				<a md-button 
					id="btn-upload"
					type="button">
					Subir audio
				</a>
			</label>
			
			<input #audio hidden
				type="file" 
				id="audio-upload"
				name="spot-audio"
				[ngModel]="file"
				(change)="fileSelected($event.target.files[0])" />

		</div>

		<div class="upload-container">

			<md-progress-bar 
			 	*ngIf="uploadingPhoto"
				mode="indeterminate">
			</md-progress-bar>

			<label for="photo-upload">
				<a md-button 
					id="btn-upload"
					type="button">
					Subir Foto
				</a>
			</label>
			
			<input #photo hidden
				type="file" 
				id="photo-upload"
				name="spot-photo"
				[ngModel]="file"
				(change)="fileSelectedPhoto($event.target.files[0])" />

		</div>

	</div>

	<div class="btn-group">

		<button 
			md-raised-button 
	 		type="button"
	 		id="btn-cancel" 
			(click)="stopEdit()">
			Cancelar
		</button>

		<button 
			md-raised-button
			id="btn-submit">
			Modificar Parada
		</button>

	</div>
	
</form>

