<app-panel>
	<div class="title">
		<a> 
			Usuarios
		</a>
	</div>

	<div class="grid-container">

		<div class="opt-table">

			<md-input-container 
				class="login-input ng-invalid">
				<input mdInput 
					(keyup)="filterUsers($event)" 
					placeholder="Filtrar Usuarios" />
			</md-input-container>	

			<ngx-datatable
				#table
				class='material'
		 		(select)="selectUser($event)"
				[rows]='rows'
				[columns]="cols"
				[columnMode]="'force'"
				[headerHeight]="'flex'"
				[footerHeight]="'flex'"
				[limit]="10"
				[rowHeight]="'auto'"
				[selectionType]="'single'">
			</ngx-datatable>

		</div>

		<app-users-add 
		 	class="edit-form"
			(request)="handleAdd($event)"
			*ngIf="!isSelected()">
		</app-users-add>

		<app-users-edit
		 	class="edit-form"
		 	[user]="selection"
			(request)="handleEdit($event)"
			(cancel)="handleEdit($event)"
			*ngIf="isSelected()">
		</app-users-edit>


	</div>

</app-panel>
